@font-face {
    font-family: 'plus_jakarta_sansregular';
      src:   url('/assets/fonts/plusjakartawebsafe/plusjakartasans-variablefont_wght-webfont.woff') format('woff'),
     url('/assets/fonts/plusjakartawebsafe/plusjakartasans-variablefont_wght-webfont.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}